p, dd {
	text-align: justify;
}

table.booktabs {
	width: max-content;
	margin: 12px auto;
	border: none;
	margin-left: auto;
	margin-right: auto;
}

th.booktabs {
	color: #000000;
	background-color: transparent;
	border: none;
	border-top: 2px solid black;
	border-bottom: 1px solid black;
	padding-left: 1.5em;
}

th:first-child.booktabs {
	color: #000000;
	background-color: transparent;
	border: none;
	border-top: 2px solid black;
	border-bottom: 1px solid black;
}

td.booktabs {
	color: #000000;
	background-color: transparent;
	border: none;
	padding-left: 1.5em;
}

td:first-child.booktabs {
	color: #000000;
	background-color: transparent;
	border: none;
}

tr.booktabs {
	color: #000000;
	background-color: transparent;
	border: none;
}

tr.booktabs-bottom {
	border-bottom: 2px solid black;
}

ul.checklist {
        list-style: none;
        margin-left: 1em;
        text-indent: -1em;
}

.checklist li:before {
        content: '□ ';
}

.checklist li.ungraded:before {
        content: '◉ ';
}

.checklist li.done:before {
        content: '✓ ';
}

.checklist li.failed:before {
        content: '✕ ';
}
