/* Leave a little wider than default. */
.article-container {
	width: auto;
	max-width: 1024px;
}

/* Center "subtitle" (<p>) in featurette. */
.featurette .section-heading p {
	text-align: center;
}

.contact-widget p {
	text-align: center;
}

/* Reduce vertical white space in homepage. */
.home-section {
	padding: 20px 0 20px 0;
}
